[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-filter = "*"
django-spurl = "*"
pillow = "*"
djangorestframework = "*"
requests = "*"
redis = "*"
djoser = "*"
huey = "*"

[dev-packages]

[requires]
python_version = "3.11"
