{% extends 'index.html' %}
{% load static %}

{% block middle %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Профиль
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{% url 'base' %}">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Профиль</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnLeft">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">Навигация
              </strong>
            </header>
            <div class="Section-columnContent">
              <div class="NavigateProfile">
                <ul class="menu menu_vt">
                  <li class="menu-item"><a class="menu-link" href="{% url 'users:account' pk=user.pk %}">Личный кабинет</a>
                  </li>
                  <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="{% url 'users:profile_update' pk=user.pk %}">Профиль</a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="{% url 'shop:order_history' %}">История заказов</a>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="Section-content">
          <div class="Profile">

            <form class="form Profile-form" action="#" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <!--{% for field in form %}
                    <label class="label-class">{{ field.label }}</label>
                    {{ field }}
                {% endfor %}
                -->

              <div class="row">
                <div class="row-block">
                  <div class="form-group">
                    <label class="form-label" for="avatar">Аватар профиля<!--{{ profile_form.p_img.label }}-->

                    </label>

                    <div class="Profile-avatar">
                        {% if user.profile.p_img %}
                            <div class="Profile-img">
                                <img src="{{ user.profile.p_img.url }}" alt="#.png"/>
                            </div>
                        {% else %}
                            <div class="Profile-img"><img src="#" alt="#.png"/>
                            </div>
                            <label class="Profile-fileLabel" for="avatar">Выберите аватар
                            </label>
                        {% endif %}


                        {{ profile_form.p_img }}
                        {{ profile_form.p_img.errors }}
                      <!--<input class="Profile-file form-input" id="avatar" name="avatar" type="file" data-validate="onlyImgAvatar"/> -->
                    </div>
                  </div>


                </div>

                <div class="row-block">
                    <div class="form-group">
                    <label class="form-label" for="name">{{ profile_form.fio.label }}</label>
                      {{ profile_form.fio }}
                      {{ profile_form.fio.errors }}
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="phone">{{ profile_form.phone.label }}
                    </label>
                    {{ profile_form.phone }}
                    {{ profile_form.phone.errors }}
                  </div>

                  <div class="form-group">
                    <label class="form-label" for="mail">{{ profile_form.email.label }}
                    </label>
                    {{ profile_form.email }}
                    {{ profile_form.email.errors }}
                  </div>

                  <!--<div class="form-group">
                    <label class="form-label" for="password">Пароль
                    </label>
                    <input class="form-input" id="password" name="password" type="password" placeholder="Тут можно изменить пароль"/>
                  </div>

                  <div class="form-group">
                    <label class="form-label" for="passwordReply">Подтверждение пароля
                    </label>
                    <input class="form-input" id="passwordReply" name="passwordReply" type="password" placeholder="Введите пароль повторно"/>
                  </div> -->

                  <div class="form-group">
                    <div class="Profile-btn">
                      <button class="btn btn_success" type="submit">Сохранить
                      </button>
                    <!--</div>
                    <div class="Profile-success">Профиль успешно сохранен
                    </div>-->
                  </div>
                  </div>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock middle %}