{% extends 'index.html' %}

{% block middle %}
    <div class="Middle">
    <div class="Section Section_column Section_columnLeft">
        <div class="wrap">
            <div class="Section-content">
            <h2>Страница смены пароля</h2>
                {% if forms.errors %}
                    Ошибка {{ forms.errors }}
                {% endif %}
            <form method="post">
                {% csrf_token %}

                <div class="row-block">
                          <div class="form-group">

                              {{ form.as_p }}

                          </div>

                    <div class="Profile-btn">
                      <button class="btn btn_success" type="submit">Изменить
                      </button>
                    </div>
                    </div>
            </form>
            </div>
        </div>
    </div>
    </div>
{% endblock middle %}